.kaufman__triangle {
    background-image: url(../../../images/kaufman-triangle.svg);
    position: absolute;
    right: -210px;
    top: 0;
    margin: 0;
    min-width: 877px;
    min-height: 877px;
    z-index: -1;
    /* overflow: hidden; */
    background-size: cover;
  }