.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header {
  display: flex;
  margin: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-size: 100%;
  background-color: #f2f2f2;
  align-items: center;
}

.header__title {
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  display: flex;
  align-items:center;
  color: #000000;
}

.header__subtitle {
  line-height: 25px;
  width: 388px;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  background: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

/* блок description */
.description {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  /* border: 1px solid red;  */
}

.two-columns__brief {
  margin-top: 0;
  margin-bottom: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 500;
}

.two-columns__main-text {
  display: flex;
  min-width: 784px;
  flex-direction: column;
  row-gap: 30px;
}

.two-columns__paragraph {
  width: 100%;
  line-height: 34px;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* блок digits */
.digits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.digits_margin {
  margin-top: 100px;
  margin-bottom: 100px;
}


.section-title {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  width: 60%;
}

.section-subtitle {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 500;
}

.table {
  display: flex;
  padding-top: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.table_width {
  width: 1100px;
}

.table__cell {
  width: 250px;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  row-gap: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 500;
}

.feynman {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #f2f2f2;
  min-height: 890px;

  position: relative;
}

.feynman__title {
  display: flex;
  margin: 100px auto 0px;
  width: 648px;
  text-align: center;
  z-index: 1;

  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin-top: 70px;
  text-align: center;
  z-index: 1;

  line-height: 51px;
  font-size: 36px;
  font-weight: 500;
}

.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;

  line-height: 51px;
  font-size: 36px;
  font-weight: 500;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  z-index: -1;
  position: relative;
  overflow: hidden;
}

.section-title__theme_dark {
  color: #f2f2f2;
}

.section-subtitle__theme_dark {
  color: #f2f2f2;
}

.table__theme_dark {
  color: #f2f2f2;
  justify-content: center;
  padding-top: 80px;
  margin-top: 0;
  margin-bottom: 0;
}

.table__cell_theme_dark {
  padding-top: 80px;
  width: 200px;
  color: white;
}

.table__heading_theme_dark {
  color: #f2f2f2;
}

.table__text_theme_dark {
  width: 200px;
  color: #f2f2f2;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: -1;
}

.footer {
  background-color: #000000;
  display: flex;
  min-height: 350px;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;

}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  flex-direction: column;
  align-items: flex-end;
}

.footer__column_content_social {
  flex-direction: column;
  align-items: flex-end;
}

.logo__place_footer {
  position: static;
  color: #f2f2f2;
  display: flex;
}

.footer__author {
  color: #f2f2f2;
  margin: 18px 0px 18px;
  display: flex;

  line-height: 25px;
  font-size: 18px;
  font-weight: 500;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  color: #f2f2f2;

  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 16px;

  line-height: 30px;
  font-size: 18px;
  font-weight: 500;
}

.footer__social-icon {
  margin-right: 10px;
}

.footer__column-link {
  color: #f2f2f2;
  text-decoration: none;
}

